@import "./variables";

html {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: $darkGrey;
  color: $white;
  min-height: 100vh;
}
